@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@source inline("row-start-1 row-start-2 row-start-3 row-start-4");
@source inline("row-end-2 row-end-3 row-end-4 row-end-5");
@source inline("col-start-1 col-start-2 col-start-3 col-start-4 col-start-5");
@source inline("col-end-2 col-end-3 col-end-4 col-end-5 col-end-6");

@theme {
    /*Theme*/
    --color-primary: #050A27;
    --color-accent: #B04072;
    --color-light: #F4F3F2;

    /*Font*/
    --font-display: "Montserrat", "sans-serif";

    /*Images*/
    --background-image-landing: url("./lib/Img/home.jpg")
}